
[Desktop Entry]
Type=Application
Name=Arknights: ENDFIELD
Icon=lutris_arknights-endfield
Exec=env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/1
Categories=Game
TryExec=lutris
